# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Airflow
# =========================
logs/
airflow.db
airflow.cfg
plugins/*

# =========================
# Data
# =========================
data/raw/*
data/processed/*
data/rejected/*
data/valid/*

# =========================
# Logs
# =========================
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db